<% if current_user.present? %>
  <%= render 'shared/widget_form' %>
  <% @widgets.each do |widget|%>
  <%= render partial: "shared/widget", locals: {widget: widget}%>
  <% end %>
<% else %>
  <h2>Please Login</h2>
  <%= render "shared/login" %>
<% end %>
