<%= form_tag user_me_password_path, method: :post do %>
<%= password_field_tag 'user[current_password]', "",class: "form-control", placeholder: "current password" %>
<%= password_field_tag 'user[new_password]', "",class: "form-control", placeholder: "new password" %>
<%= submit_tag "change", class: "btn btn-primary info"%>
<% end %>
