<div class="center jumbotron">
  <h1><%= @user['name']%></h1>
  <%= image_tag(@user['images']['small_url']) %>
  <% if current_user_id == @user['id']%>
    <%= link_to 'Change password', user_password_path(@user['id']), class: ''%>
  <% end %>
</div>
