<button type="button" class="btn btn-primary success" data-toggle="modal" data-target="#myModal">Login
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag authenticate_path, method: :post do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Please Login</h4>
        </div>
        <div class="modal-body">
          <div class="col-xs-8">
            <%= text_field_tag :email, "",class: "form-control", placeholder: "username" %>
            <%= password_field_tag :password, "",class: "form-control", placeholder: "password" %>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default"data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary info">Login</button> -->
          <%= submit_tag "login", class: "btn btn-primary info"%>
        </div>
      <%end%>
    </div>
  </div>
</div>
