<%= form_tag(widgets_path, :method => "get") do %>
  <div class="form-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
    <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
  </div>
  </br>
<% end %>
