<button type="button" class="btn btn-primary success" data-toggle="modal" data-target="#signup">
  Sign Up
</button>
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag user_path, :method => :post do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <div class="col-xs-8">
            <%= text_field_tag 'user[first_name]', "",class: "form-control", placeholder: "First Name" %>
            <%= text_field_tag 'user[last_name]', "",class: "form-control", placeholder: "Last Name" %>
            <%= text_field_tag 'user[email]', "",class: "form-control", placeholder: "username" %>
            <%= hidden_field_tag 'user[image_url]', "https://static.thenounproject.com/png/961-200.png"%>
            <%= password_field_tag 'user[password]', "",class: "form-control", placeholder: "password" %>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default"data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary info">Login</button> -->
          <%= submit_tag "login", class: "btn btn-primary info"%>
        </div>
      <%end%>
    </div>
  </div>
</div>
