<div class="center jumbotron">
  <h1><%= widget['name']%></h1>
  <h2><%= widget['description']%></h2>
  <p>
    <% if widget['user'].present? %>
      Auther: <%= link_to widget['user']['name'], user_profile_path(widget['user']['id'])%>
    <% end %>
    <% if widget['user']['id'] == current_user_id %>
      <%= link_to 'delete', delete_widget_path(widget['id']), method: :delete%>
    <% end %>
  </p>
</div>
