<%= form_tag widgets_path, method: :post do %>
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <%= text_field_tag 'widget[name]', "",class: "form-control", placeholder: "name" %>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <%= text_area_tag 'widget[description]', "",class: "form-control", placeholder: "Description" %>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Visible</label>
    <%= check_box_tag 'widget[kind]', 'visible' %>
  </div>
  <%= submit_tag "Post", class: "btn btn-primary info"%>
<% end %>
