<div class="center jumbotron">
  <h1>Show off</h1>
  <h2>
    test
  </h2>
  <%= render "shared/login" %>
  <%= render "shared/signup" %>
</div>

<div class='row'>
	<div class='col-md-12'>
		<div class="center">
		</div>
	</div>
</div>
