<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li>
            <%= link_to "Home", widgets_path %>
          </li>
          <li>
            <%= link_to "My Widgets", user_my_widgets_path%>
          </li>
          <li>
            <%= link_to "Profile", user_profile_path(current_user_id)%>
          </li>
          <li>
            <%= link_to "Logout", revoke_path, method: :post%>
          </li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
